.header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: rgba(177, 189, 195, 0.3);
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 14px;
}
.header:hover{
  cursor: pointer;
  padding-top: 35px;
  padding-bottom: 45px;
  background: rgba(66, 73, 77, 0.3);
  transition-duration: 0.3s;
  font-size: 16px;
}
.menu a{
  text-decoration: none;
  color:white;
}
.list{
 margin-right: 50px;
}
.list div{
  display: inline;
  margin-right: 20px;
  color:white;
}
.logo img{
  width: 25px;
  height: 25px;
  margin-left: 40px;
  margin-right: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.logo span{
  color:rgb(49, 161, 92);
  font-size: 30px;
  font-weight: normal;
  font-family: 'Lobster', cursive;
}