.newLessons{
  background-color: rgb(191, 216, 175);
  color:rgb(63, 53, 51);
}
.basicContent{
  padding-bottom: 50px;
}
.choiceLesson{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}
.choiceLesson img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  border-radius: 50%;
  border: 5px solid rgb(148, 155, 172);
  transition: ease-in 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title{
  margin-bottom: 50px;
}
.cardActive{
   padding: 20px 30px; 
}
.cardActive:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  transition: ease-in 0.3s;

}
.choiceLesson div{
  width: 200px;
  font-size: 16px;
  transition: ease-in 0.3s;
  color:rgb(63, 53, 51);
}
.warning{
  width: 40%;
  height: 40%;
  margin-top: 20px;
}
.warningButton{
  padding: 5px 10px;
  border: none; 
  background-color: rgb(122, 235, 70);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer; 
  margin-top: 30px;
  margin-bottom: 70px;
}
.videoMode{
  display: flex;
  justify-content: center;
}
.sectionRoot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sectionTypography{
  max-width: 80%;
}
.tabSection{
  padding: 10px 20px;
}

  .frame_blc{
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
  }
  .frame_blc iframe {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .sectionPlayer{
    display: flex;
    flex-direction: column;
  }
  .mainSectionTranslate{
    padding-top: 20px;
    padding-bottom: 20px;
  } 
  .listTrainee{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1040px;
    margin: 0 auto;
  }
  .showList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 70%;
    margin: 0 auto;
  }

  .showList span{
    width: 120px;
    height: 40px;
    text-align: center; 
    padding-top: 1rem;
    background-color: rgba(125, 183, 221, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer; 
    font-weight: bold;
    text-transform: uppercase; 
  }
 
  .controlWord span{
    font-weight: bold;
    text-transform: uppercase;
   /*  color: rgb(112, 122, 128); */
  }







@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  .choiceLesson img{
    width: 170px;
    height: 170px;
    border: 4px solid rgb(148, 155, 172);
  }
  .cardActive{
    margin-top: 30px;
  }
}








