.newLessons{
  background-color: rgb(191, 216, 175);
}
.basicContent{
  padding-bottom: 50px;
}
.choiceLesson{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}
.choiceLesson img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  border-radius: 50%;
  border: 5px solid rgb(148, 155, 172);
  transition: ease-in 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title{
  margin-bottom: 50px;
}
.cardActive:hover{
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  transition: ease-in 0.3s;

}
.choiceLesson div{
  width: 200px;
  font-size: 16px;
  transition: ease-in 0.3s;
  color:rgb(63, 53, 51);
}
.warning{
  width: 40%;
  height: 40%;
  margin-top: 20px;
}
.warningButton{
  padding: 5px 10px;
  border: none; 
  background-color: rgb(235, 84, 70);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer; 
  margin-top: 20px;
  margin-bottom: 30px;
}
.videoMode{
  display: flex;
  justify-content: center;
}
.sectionRoot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sectionTypography{
  max-width: 80%;
}




@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  .choiceLesson img{
    width: 170px;
    height: 170px;
    border: 4px solid rgb(148, 155, 172);
  }
  .cardActive{
    margin-top: 30px;
  }
}








