.lesson{
  background: url('./../images/sunset.jpg') no-repeat center top / cover;
  height: 100vh;
}

.wrapper{
  display: flex;
  justify-content: space-between;
}
.leftSide{
  
}

@media (max-width: 575.98px) {
  
}