.lesson{
  /* background: url('./../images/sunset.jpg') no-repeat center top / cover; */
  height: 100vh;
  background-color: rgb(81, 129, 42);
}

.wrapper{
  display: flex;
  justify-content: space-between;
}
.leftSide{
  
}

@media (max-width: 575.98px) {
  
}