.main{
   /* background: url('../images/market.jpg') no-repeat center center/cover; */
   background: url('../images/evening.jpg') no-repeat center top/cover;
   height: 100vh;
}

.mainMenu{
   display: flex;
   justify-content: center; 
   padding-top: 16%;
}
.error{
   border: 1px solid rgb(43, 104, 112);
}
.sectionForm{
/*    background: url('../images/evening.jpg') no-repeat center top/cover; */

   background-color: rgb(89, 128, 116);
   height: 100vh;
   overflow: auto;
 }
 .remember{
    width: 410px;
    height: 40px;
    border:none;
    background-color:rgb(90, 139, 179);
 }
 .remember:hover{
    cursor: pointer;
    background-color: rgb(61, 85, 104);
 }
 .cardForm{
    display: flex;
    justify-content: space-around;
 }
 .menuForm button{
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    border:none;
    color:white;
    background-color:rgb(37, 68, 93);
 }

 #activeForm{
   background-color:rgb(68, 128, 177);
 }

 .menuForm button:hover{
    cursor: pointer;
    background-color:rgb(44, 88, 124);
 }
 .menuForm{
    margin-left: -100px;
 }
 .formTitle{
   margin-bottom: 20px;
   font-weight: bold;
 }
.listWords{
   margin-bottom: 10px;
   background: rgba(177, 189, 195, 0.3);
}
.listWords div{
   padding: 5px 10px;
   width: 450px;
   text-align: start;
   font-weight: bold;
}
.title{
   display: flex;
   justify-content: space-around;
   font-size: 45px;
   font-weight: bold;
   text-shadow: 1px 1px 2px black, 0 0 1em rgb(102, 138, 143);
}


@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic');
.content {
  margin-top: -50px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin-right: 150px;
  margin-left: 150px;
}
.content span {
   font-size: 28px;
 }
.arrImages{
   width: 500px;
}
.road{
   margin-top: 150px;
   font-size: 28px;
  
}
.arrow{
   width: 70px;
   height: 70px;
   border:3px solid rgb(182, 201, 216);
   border-top: none;
   border-right: none;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}
.arrow:hover{
   cursor: pointer;
}
.arrow1{
   width: 70px;
   height: 70px;
   border:3px solid rgb(182, 201, 216);
   border-top: none;
   border-right: none;
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -ms-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
}
.arrow1:hover{
   cursor: pointer;
}
.aboutUs{
   padding-top: 70px;
   padding-bottom: 70px;
   background-color: rgb(235, 233, 233);
}
.aboutUs h2{
   margin-bottom: 70px;
   color:rgb(63, 53, 51);
}
.test img{
   height: 175px;
   width: 175px;
   margin-right: 20px;
   margin-top: 20px;
   border-radius: 100px;
   border: 5px solid rgb(148, 155, 172);
   box-shadow: 0 0 7px rgb(141, 126, 126);
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
   margin-left: 30px;
   margin-right: 30px;
 
}
.test{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.test p{
   width: 300px;
   font-size: 15px;
   color:rgb(63, 53, 51);
}
.test2{
   width: 300px;
}
.innerTest{
  text-align: right;
}
.innerTest h3{
   color:rgb(63, 53, 51);
}
.innerTest2 h3{
   color:rgb(63, 53, 51);
}
.innerTest2{
   text-align: left;
 }
 .contacts{
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url('./../images/Layer.png');
    color:white;
 }
 .contacts h3{
   margin-bottom: 30px;
 }
 .subscribe{
    width: 410px;
    text-align: center;
    margin: 0 auto;
 }
 .sendLetter{
    width: 100%;
    height: 45px;
    border:none;
    background-color: rgb(39, 170, 163);
    color:white;
 }
 .sendLetter:hover{
    cursor: pointer;
    background-color: rgb(57, 226, 218);
 }
 .lineStart{
   color:rgb(63, 53, 51);
   background-color: rgb(235, 233, 233);
   padding-bottom: 20px;
 }
 .footer{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
 }
 .socialNetwork{
    display: flex;
    margin-top: 10px;
 }
 .myData{
    font-size: 14px;
 }
 .myData img{
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 20px;
    margin-bottom: 5px;
 }
 .myData span {
    display: block;
 }
 .myData div{
    display: flex;
 }

 .socialNetwork img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
 }
 .endLine{
    font-size: 12px;
    color:black;
    font-weight: bold;
 }


 @media (max-width: 1199.98px) {
   .content{
      margin-right: 100px;
      margin-left: 100px;
   }
   .menuForm{
      margin-left: 10px;
   }
 }
 @media screen and (max-width: 992px){
    .mainMenu{
       padding-top: 25%;
    }
    .arrImages{
       width: auto;
    }
    .content{
      margin: 0 auto
   }
   .test2{
      width: 0;
   }
   .menuForm button{
      width: 200px;
      height: 35px;
   }
   .remember{
      width: 360px;
      height: 35px;
   }

 }

 @media screen and (max-width: 768px){
   .mainMenu{
      padding-top: 35%;
   }
   .arrow, .arrow1 {
     width: 50px;
     height: 50px;
   }

   .title{
     justify-content: center;
     font-size: 30px;
   }
   .content span {
      font-size: 24px;
    }
    .arrImages{
       margin: 0 auto;
    }
   .test img{
      height: 150px;
      width: 150px;
      margin-left: 20px;
      margin-right: 20px;
   }
   .test p{
      width: 200px;
      font-size: 12px;
    }
    .subscribe{
       width: 310px;
    }
    .menuForm button{
      width: 150px;
      height: 30px;
   }
   .remember{
      width: 310px;
      height: 30px;
   }



}
@media (max-width: 575.98px) {
   .mainMenu{
      padding-top: 50%;
   }
   .arrow, .arrow1 {
      width: 30px;
      height: 30px;
      margin-top: 40px;
    }
    .arrow{
       margin-left: 10px;
    }
    .arrow1{
       margin-right: 30px;
    }
    .test img{
      height: 130px;
      width: 130px;
      margin-left: 10px;
      margin-right: 10px;
   }
   .test p{
      width: 150px;
      font-size: 12px;
    }
    .subscribe{
      width: 260px;
   }  
   .footer{
      padding-left: 5px;
      padding-right: 5px;
   } 
   .road{
      font-size: 18px;
   }
   .test img{
      margin-top: 50px;
      border: 3px solid rgb(148, 155, 172);
   }
   .myData img{
      margin-right: 5px;
   }
   .cardForm{
      display: flex;
      flex-flow: column-reverse;
   }
   .menuForm button{
      width: 310px;
      height: 30px;
   }
   .menuForm{
     order: 1;
     margin-top: 20px;
   }
   .topForm{
    order:0;
    margin-top: 30px;
   }
   .statistic{
      order: 2;
   }
   .listWords div{
      padding: 5px 10px;
      width:80%;
   }
   .listWords{
      margin-left: 10px;
      margin-right: 10px;
   }
   *{
      overflow-x: hidden;
   }

}