.formsControls.error input,
.formsControls.error textarea
{
  border: 2px solid rgb(180, 37, 37);
}
.text{
  color:black;
  font-weight: bold;
}
textarea{
  width: 400px;
  height: 40px;
  border:none;
  /* background-color: rgba(176, 211, 228, 0.3); */
  background-color: rgb(185, 209, 205);
  margin-bottom: 5px; 
  padding: 5px;
}
.textarea2{
  width: 400px;
  height: 80px;
  border:none;
  background-color: rgba(176, 211, 228, 0.3);
  margin-bottom: 5px; 
  padding: 5px;
  color:white;
}
.addWords{
  width: 400px;
  height: 40px;
  border:none;
  /* background-color: rgba(176, 211, 228, 0.3); */
  background-color: rgb(185, 209, 205);
  margin-bottom: 5px; 
  padding: 5px;
  color:black;
}

input{
  width: 400px;
  height: 40px;
  border:none;
  background-color: rgba(176, 211, 228, 0.3);
  margin-bottom: 5px; 
  padding: 5px;
  color:white;
}
.input2{
  width: 300px;
  height: 20px;
  border:none;
  background-color: rgb(185, 209, 205);
  margin-bottom: 20px; 
  padding: 5px;
  color:black;
}

@media screen and (max-width: 992px){
  textarea{
    width: 350px;
    height: 35px;
  }
  .addWords{
    width: 350px;
    height: 35px; 
  }
}

@media screen and (max-width: 768px){
  input{
    width: 300px;
    height: 30px;
  }
  .input2{
    width: 200px;
  }

  .textarea2{
    width: 300px;
    height: 60px;
  }
  textarea{
    width: 300px;
    height: 30px;
  }
  .addWords{
    width: 300px;
    height: 30px;
  }
}
@media screen and (max-width: 575px){
  input{
    width: 250px;
    height: 25px;
  }
/*   .addWords{
    width: 250px;
    height: 25px;
  } */
  .textarea2{
    width: 250px;
    height: 45px;
  }
}