@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap&subset=cyrillic');
.App {
  box-sizing: border-box;
  text-align: center;
}

body{
  font-family: 'Rubik', sans-serif;
}
.listAnimate{
  opacity: 1;
  animation: 15s linear 2s 1 op;
}
@keyframes op{ 
  0% { 
   opacity: 1; 
  } 
  100% { 
   opacity: 0;
  } 
}


