.card{
  text-align: center;
  padding: 20px 40px 40px 40px;
  background-color:rgba(16, 62, 80, 0.3);
  font-weight: bold;
}

.content{
  margin-bottom: 30px;
}
.mainContent img{
  width: 270px;
  height: 200px;
}
.choiceMenu button{
  margin-top: 10px;
   margin-right: 5px;
   margin-left: 5px;
   width: 150px;
   border: none;
   background-color: rgb(37, 68, 93);
   padding: 5px 10px;
   color: white;
}
.title{
  margin-bottom: 20px;
}
.explainList span{
  font-weight: bold;
}
.explainList span:hover{
  cursor: pointer;
  color:rgb(77, 62, 62);
}
.titleComponent{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
.listWordsChange{
  margin-bottom: 10px;
  background: rgba(177, 189, 195, 0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.listWordsChange div{
  padding: 5px 10px;
  width: 450px;
  text-align: start;
  font-weight: bold;
}
.sendChange button{
  border: none;
  background-color: rgb(130, 199, 192);
  cursor: pointer; 
  margin-right: 5px;
  margin-bottom: 5px;
  color:rgb(44, 44, 44); 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sendChange button:hover{
  background-color: rgb(148, 206, 200);
}
.confirmation{
  font-size: 12px;
  padding-left: 5px;
}
.confirmation button{
  cursor: pointer;
  width: 40px;
  height: 17px;
}
 .buttonOne{
  margin-left: 10px;
}
.changeList button{
  cursor: pointer;
  width: 510px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(130, 199, 192);
  color:rgb(44, 44, 44); 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.formEditionList div input{
  width: 500px;
  height: 30px;
  border:none;
  background-color: rgba(176, 211, 228, 0.3);
  margin-bottom: 5px; 
  padding: 5px;
  color:black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.chart{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  width: 700px;
  height: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



@media (max-width: 1199.98px) {
  .chart{
    width: 500px;
    height: 250px;
  }
 }

 @media (max-width: 991.98px) {
  .chart{
    width: 350px;
    height: 200px;
  }
 }


@media screen and (max-width: 768px){
  .card{
    padding-left: 10px;
    padding-right: 10px;
  }
  .choiceMenu button{
    width: 100px;
    margin-top: 10px;
  }
  .listWordsChange div{
    padding: 5px 10px;
    width:80%;
 }
 .listWordsChange{
    margin-left: 10px;
    margin-right: 10px;
 }
 .chart{
  width: 300px;
  height: 200px;
}
}

@media (max-width: 575.98px) {
  .card{
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .innerContent{
    font-size: 16px;
  }
  .editingList{
    margin-top: 30px;
  }
  .formEditionList div input{
    margin-left: 10px;
    margin-right: 10px;
    width: 91%;
 }
 .changeList button{
    margin-left: 10px;
    margin-right: 10px;
    width: 94%;
 }
 .listWordsChange div{
   width: auto;
 }
 .chart{
   width: 95%;
   height: 200px;
   margin: 10px 10px;
 }
}