.menu{
  text-align: center;
  margin: 0 auto;
  padding: 30px 65px 40px 30px;
  background:rgba(11, 65, 87, 0.3);
  font-weight: bold;
  margin-bottom: 100px;
}
.menu a:hover{
  color:black;
}
.menu li{
  list-style: none;
}
.menu a{
  text-decoration: none;
  color:white;
  font-size: 26px;
}
