.card{
  text-align: center;
  padding: 50px 60px 50px 60px;
  width: 300px;
  background-color:rgba(16, 62, 80, 0.3);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.content{
  margin-bottom: 30px;
}
.innerContent{
  font-size: 24px;
  color:rgb(29, 24, 24);
}
.innerContent button{
  padding: 5px 10px;
  background-color: rgb(90, 139, 179);
  color: white;
  border: none;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.innerContent button:hover{
  cursor: pointer;
  background-color: rgb(61, 85, 104);
}
.choiceMenu button{
   margin-right: 5px;
   margin-left: 5px;
   border: none;
   background-color: rgb(37, 68, 93);
   padding: 5px 10px;
   color: white;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.choiceMenu button:hover{
  background-color: rgb(54, 76, 95);
}
.choiceMenu button.classTrue{
  background-color: rgb(35, 155, 105);
}
.choiceMenu button.classFalse{
  background-color:rgb(143, 71, 71);
}
.choiceWords{
  margin-right: 5px;
  cursor: pointer;
}
.choiceWords:hover{
  color: #fff;
}
.puzzleModeField{
   width: 80%;
   border:2px solid rgb(61, 73, 56); 
   margin: 0 auto;
}
.contentFromState{
  padding-top: 10px;
}
.contentFromState button{
  margin-top: 15px;
  background-color:  rgb(35, 147, 155);
  width: 60%;
}
.contentFromState button:hover{
  background-color:  rgb(56, 151, 158);
}


@media screen and (max-width: 992px){
  .card{
    padding: 50px 30px 50px 30px;
  }
}
@media screen and (max-width: 768px){
  .card{
    padding: 30px 40px 30px 40px;
    width: 200px;
    margin: 0 auto;
  }
  .innerContent{
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .card{
    padding: 30px 10px 30px 10px;
    width: 200px;
  }
  .choiceMenu button{

    font-size: 11px;
  }
}